Repository test-maker-1/testmaker_ui, pull requests merged in 2021-05, with the labels that each got.

#45 Feature/error UI
  src/constants/msg.js
  src/resources/images/error.png
  src/view/Error.jsx
Labels: common

#42 로그인 api 적용 (카카오)
  package.json
  src/App.js
  src/api/instance.js
  src/api/makingAPI.js
  src/api/registerAPI.js
  src/api/userAPI.js
  src/components/common/BtnField.jsx
  src/components/frame/Drawer.js
  src/constants/config.js
  src/hooks/useUser.js
  src/redux/reducer/index.js
  src/redux/reducer/registerReducer.js
  src/redux/reducer/userReducer.js
  src/redux/saga/index.js
  src/redux/saga/registerSaga.js
  src/redux/saga/userSaga.js
  src/redux/store.js
  src/styles/reset.css
  src/utils/asyncUtils.js
  src/utils/handler.js
  src/view/login/Login.jsx
Labels: login

#47 Feature/comm fix tag swiper
  src/components/Feed/TestsAtOneTag.jsx
  src/components/common/NoticeAlert.jsx
  src/components/common/TagSwiper.jsx
  src/components/common/UploadImg.jsx
  src/components/frame/Drawer.js
  src/components/frame/Header.js
  src/styles/theme.js
  src/view/Feed.js
  src/view/testing/SubComponents/Mention.jsx
Labels: common

#48 Feature/comm new infinte
  package.json
  src/components/common/InfinScorll.jsx
Labels: common

#49 common loading spinner
  src/App.js
  src/components/common/Loading.jsx
  src/components/common/NoticeAlert.jsx
  src/components/common/TagInputBox.jsx
  src/components/common/index.js
  src/styles/frame.js
  src/styles/index.js
  src/styles/theme.js
Labels: common

#52 Error 컴포넌트 query로 에러 코드 전달 가능 & css 변경
  src/view/Error.jsx
Labels: common

#55 common/favicon변경 및 index.html->title 변경
  public/favicon.ico
  public/index.html
Labels: common

#53 Common svg stroke
  src/components/common/SVG.jsx
  src/resources/svgInfo.js
Labels: common

#54 Testing - TestSwiper
  src/App.js
  src/components/common/TestSwiper.jsx
  src/view/testing/Result.jsx
Labels: common, testing

#50 Testing/ 다른 유형 전체보기 view
  src/components/frame/Testing.jsx
  src/constants/headerInfo.js
  src/constants/urlInfo.js
  src/view/testing/OtherType.jsx
  src/view/testing/Result.jsx
Labels: testing

#46 Feature/feed
  src/api/feedAPI.js
  src/components/Feed/Card.jsx
  src/components/Feed/Carousel.jsx
  src/components/common/InfinScorll.jsx
  src/components/common/Tag.jsx
  src/components/common/TagSwiper.jsx
  src/constants/Enum.js
  src/redux/reducer/feedReducer.js
  src/redux/reducer/index.js
  src/redux/saga/feedSaga.js
  src/redux/saga/index.js
  src/resources/svgInfo.js
  src/view/Feed.js
Labels: feed
