Repository test-maker-1/testmaker_ui, pull requests merged in 2021-06, with the labels that each got.

#60 [fix] 얼럿창이 닫혀지지 않는 이슈 처리 (콜백 던지면서 닫아주세요)
  src/components/common/NoticeAlert.jsx
Labels: common

#56 객관식 테스트 메이킹 1차 MVP 마무리
  package.json
  src/api/instance.js
  src/api/makingAPI.js
  src/components/common/UploadImg.jsx
  src/components/making/BtnPoint.jsx
  src/components/making/Question.jsx
  src/components/making/Result.jsx
  src/constants/Enum.js
  src/constants/makingInitState.js
  src/constants/result.js
  src/hooks/useImage.js
  src/resources/images/jellies.png
  src/view/testmaking/TestDetail.jsx
  src/view/testmaking/TestRelease.jsx
  src/view/testmaking/multiple/ResultBound.jsx
Labels: making

#58 Feature/others 메인 기능(feed, testing, making) 외 나머지 작업
  src/App.js
  src/components/Header/titleBtn.jsx
  src/components/frame/Drawer.js
  src/styles/theme.js
  src/utils/styleHandler.js
  src/view/login/Login.jsx
Labels: common, enhancement

#63 Feature/testing reply result
  src/api/testingAPI.js
  src/components/common/BtnShare.jsx
  src/components/common/NoticeAlert.jsx
  src/components/frame/Testing.jsx
  src/constants/testingState.js
  src/redux/reducer/index.js
  src/redux/reducer/replyReducer.js
  src/redux/reducer/resultReducer.js
  src/redux/saga/replySaga.js
  src/utils/handler.js
  src/view/testing/Comments.jsx
  src/view/testing/Exam.jsx
  src/view/testing/OtherType.jsx
  src/view/testing/Result.jsx
  src/view/testing/SubComponents/TestIntro.jsx
  src/view/testing/Welcome.jsx
Labels: common, testing

#64 feed -> error, design, api
  src/api/feedAPI.js
  src/components/Feed/Card.jsx
  src/components/common/InfinScroll.jsx
  src/redux/reducer/feedReducer.js
  src/view/Feed.js
Labels: feed

#65 1차 MVP 객관식 테스트 메이킹
  .gitignore
  public/index.html
  src/App.js
  src/components/common/BtnShare.jsx
  src/components/making/BtnPoint.jsx
  src/constants/config.js
  src/redux/reducer/makingReducer.js
  src/utils/handler.js
  src/utils/initialize.js
  src/view/testmaking/TestDetail.jsx
  src/view/testmaking/TestRelease.jsx
  src/view/testmaking/multiple/MultipleQnA.jsx
  src/view/testmaking/multiple/ResultPoint.jsx
Labels: making

#66 Feature/testing err new
  src/api/testingAPI.js
  src/components/frame/Testing.jsx
  src/constants/testingState.js
  src/redux/reducer/resultReducer.js
  src/redux/saga/index.js
  src/redux/saga/replySaga.js
  src/redux/saga/resultSaga.js
  src/redux/saga/testingSaga.js
  src/resources/images/star.png
  src/view/testing/Comments.jsx
  src/view/testing/Exam.jsx
  src/view/testing/Result.jsx
  src/view/testing/SubComponents/Mention.jsx
  src/view/testing/SubComponents/Reply.jsx
  src/view/testing/SubComponents/TestIntro.jsx
  src/view/testing/Welcome.jsx
Labels: testing

#68 carousel css 관련
  src/components/Feed/Carousel.jsx
Labels: feed

#67 [fix] 모바일 관련 css 수정
  public/index.html
  src/components/frame/BottomBtn.js
  src/view/Error.jsx
Labels: common

#70 [fix] 얼럿창 뜨지 않는 이슈 처리 (router 이동시 메모리 lack 에러)
  src/components/Header/LeftBtn.jsx
  src/components/common/NoticeAlert.jsx
Labels: common

#71 Feature/testing loading api
  src/components/common/TagSwiper.jsx
  src/components/frame/Testing.jsx
  src/constants/testingState.js
  src/redux/reducer/commonReducer.js
  src/redux/reducer/replyReducer.js
  src/redux/reducer/resultReducer.js
  src/redux/reducer/testingReducer.js
  src/redux/saga/replySaga.js
  src/redux/saga/resultSaga.js
  src/redux/saga/testingSaga.js
  src/view/testing/Comments.jsx
  src/view/testing/Exam.jsx
  src/view/testing/OtherType.jsx
  src/view/testing/SubComponents/TestIntro.jsx
  src/view/testing/Welcome.jsx
Labels: testing

#69 1차 MVP 객관식 테스트 메이킹 - 3
  src/components/common/Tag.jsx
  src/components/common/UploadImg.jsx
  src/components/frame/TestMaking.jsx
  src/components/making/BtnAdd.jsx
  src/components/making/BtnAddOption.jsx
  src/components/making/BtnPoint.jsx
  src/components/making/Option.jsx
  src/components/making/Question.jsx
  src/components/making/Result.jsx
  src/components/making/index.js
  src/constants/msg.js
  src/hooks/making/useCommon.js
  src/hooks/making/useOption.js
  src/hooks/making/useQnA.js
  src/hooks/making/useQuestion.js
  src/hooks/making/useResult.js
  src/hooks/useImage.js
  src/hooks/useMaking.js
  src/redux/reducer/makingReducer.js
  src/utils/asyncMakingUtils.js
  src/view/testmaking/PickTest.jsx
  src/view/testmaking/TestDetail.jsx
  src/view/testmaking/multiple/MultiplePreset.jsx
  src/view/testmaking/multiple/MultipleQnA.jsx
  src/view/testmaking/multiple/MultipleReplay.jsx
  src/view/testmaking/multiple/MultipleResult.jsx
  src/view/testmaking/multiple/ResultBound.jsx
  src/view/testmaking/multiple/ResultPoint.jsx
Labels: making

#77 Feature/comm fix share notice alert
  public/index.html
  src/components/common/BtnShare.jsx
  src/components/common/NoticeAlert.jsx
  src/resources/images/face_temp.png
  src/resources/images/link.png
  src/resources/images/twitter_temp.png
Labels: common

#75 Feature/testing fix whole
  src/components/frame/Testing.jsx
  src/constants/testingState.js
  src/redux/reducer/replyReducer.js
  src/redux/reducer/resultReducer.js
  src/redux/reducer/testingReducer.js
  src/redux/saga/replySaga.js
  src/redux/saga/resultSaga.js
  src/redux/saga/testingSaga.js
  src/styles/theme.js
  src/utils/handler.js
  src/view/testing/Comments.jsx
  src/view/testing/Exam.jsx
  src/view/testing/Result.jsx
  src/view/testing/SubComponents/Mention.jsx
  src/view/testing/SubComponents/Reply.jsx
  src/view/testing/SubComponents/TestIntro.jsx
  src/view/testing/Welcome.jsx
Labels: testing

#76 [fix] 로그인 후 페이지 이동 로직 추가 (이전 페이지로 이동)
  src/components/frame/Drawer.js
  src/hooks/usePage.js
  src/view/login/Login.jsx
Labels: common, login

#78 [fix] TagSwiper -> 상단 배경 및 패딩 수정
  src/components/common/TagSwiper.jsx
Labels: feed

#72 meta setting
  package.json
  src/components/common/Meta.jsx
Labels: common

#80 1차 MVP 객관식 메이킹 qna - 2
  src/components/common/BtnShare.jsx
  src/components/common/NoticeAlert.jsx
  src/components/common/PointRanking.jsx
  src/components/making/BtnPoint.jsx
  src/components/making/Question.jsx
  src/components/making/Result.jsx
  src/components/making/UploadImg.jsx
  src/constants/regex.js
  src/hooks/making/useImage.js
  src/hooks/making/useNumber.js
  src/hooks/making/useQuestion.js
  src/styles/InputText.js
  src/styles/index.js
  src/utils/asyncMakingUtils.js
  src/utils/handler.js
  src/view/testing/Welcome.jsx
  src/view/testmaking/TestDetail.jsx
  src/view/testmaking/TestRelease.jsx
  src/view/testmaking/multiple/MultipleQnA.jsx
  src/view/testmaking/multiple/MultipleResult.jsx
  src/view/testmaking/multiple/ResultBound.jsx
  src/view/testmaking/multiple/ResultPoint.jsx
Labels: making

#74 My Page
  src/App.js
  src/api/userAPI.js
  src/components/MyPage/Tab.jsx
  src/components/MyPage/TabTests.jsx
  src/components/MyPage/TempTest.jsx
  src/components/frame/Drawer.js
  src/components/frame/MyPage.jsx
  src/constants/Enum.js
  src/constants/headerInfo.js
  src/constants/urlInfo.js
  src/hooks/useUser.js
  src/redux/reducer/userReducer.js
  src/redux/saga/userSaga.js
  src/resources/svgInfo.js
  src/utils/handler.js
  src/view/mypage/MypageMain.jsx
Labels: mypage

#91 Feature/help noitce alert
  src/App.js
  src/components/Header/LeftBtn.jsx
  src/components/common/NoticeAlert.jsx
  src/components/frame/TestMaking.jsx
  src/components/making/Option.jsx
  src/components/making/Question.jsx
  src/view/testing/Welcome.jsx
  src/view/testmaking/multiple/MultipleQnA.jsx
Labels: common

#86 Feature/testing second add
  src/api/testingAPI.js
  src/components/common/BtnField.jsx
  src/redux/reducer/replyReducer.js
  src/redux/reducer/resultReducer.js
  src/redux/reducer/testingReducer.js
  src/redux/saga/replySaga.js
  src/redux/saga/resultSaga.js
  src/view/login/Login.jsx
  src/view/testing/Comments.jsx
  src/view/testing/Exam.jsx
  src/view/testing/Result.jsx
  src/view/testing/SubComponents/Mention.jsx
  src/view/testing/SubComponents/Reply.jsx
  src/view/testing/SubComponents/RoundContainer.jsx
  src/view/testing/Welcome.jsx
Labels: testing

#87 객관식 테스트 메이킹 2차 MVP 추가 기능
  package.json
  src/App.js
  src/components/Header/LeftBtn.jsx
  src/components/MyPage/TabTests.jsx
  src/components/MyPage/TempTest.jsx
  src/components/common/LottieImg.jsx
  src/components/common/NoticeAlert.jsx
  src/components/common/index.js
  src/components/frame/BottomBtn.js
  src/components/frame/TestMaking.jsx
  src/components/making/Option.jsx
  src/components/making/Question.jsx
  src/constants/Enum.js
  src/constants/headerInfo.js
  src/constants/makingInitState.js
  src/constants/msg.js
  src/hooks/making/useCommon.js
  src/hooks/useOpen.js
  src/redux/reducer/makingReducer.js
  src/resources/lotties/jellies-lottie.json
  src/utils/asyncMakingUtils.js
  src/utils/asyncUtils.js
  src/utils/handler.js
  src/view/login/Login.jsx
  src/view/mypage/MypageMain.jsx
  src/view/testing/Welcome.jsx
  src/view/testmaking/TestDetail.jsx
  src/view/testmaking/TestRelease.jsx
  src/view/testmaking/multiple/MultiplePreset.jsx
  src/view/testmaking/multiple/MultipleQnA.jsx
  src/view/testmaking/multiple/MultipleResult.jsx
  src/view/testmaking/multiple/ResultBound.jsx
Labels: making

#90 [feat] 로그인 router 관련 주석 해제
  src/App.js
  src/components/frame/Login.jsx
  src/constants/links.js
  src/view/login/Login.jsx
Labels: common
